/* ESTILOS GENERALES */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  height: 100vh;
  background-color: antiquewhite;
}

h1{
  padding: 30px;
  text-align: center;
}

h2{
  text-align: center;
  padding-top: 15px;
  margin: 0 auto;
}

/* FORMULARIO */

.contenedor{
  height: 450px;
  width: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.contenedor form{
  width: 300%;
  display: flex;
  transition: .7s;
}

.paso-formulario{
  text-align: center;
  width: 100%;
  background-color: lightblue;
}

/* SECCION DE INPUTS */

.seccion-inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 30px;
}

.seccion-inputs label{
  margin-top: 40px;
  margin-bottom: 5px;
}

.seccion-inputs input{
  width: 240px;
  height: 30px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* SECCION DE BOTONES */

.seccion-botones{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

.seccion-botones button{
  padding: 5px;
}